body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f8f7ef;
}
.sidenav a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(47, 47, 253);
    display: block;
    
}
aside a:hover {
    color: rgb(255, 255, 255);
}
.bg{
  
    background-color: rgb(145, 145, 145);
}
.row_height {
    height: 500px;
}